.contacts-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.20);
}

.edit-contact {
    transition: transform 100ms ease-in-out;
    transform: translateX(0%); 
}

.add-contact {
    transition: transform 100ms ease-in-out;
    transform: translateY(0%); 
    width: 100%;
    border-radius: 12px;
}

.hide-add-contact-overlay {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}

.hide-edit-contact-overlay {
    position: absolute;
    right: 0;
    transform: translateX(100%);
}

.add-contact-top {
    height: 352px;
    padding: 66px 24px 66px 24px;
    background: #2A3647;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    


}

.close-svg {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.add-contact-top-header h3{
    font-weight: 700;
    font-size: 47px;
    padding-bottom: 16px;
}

.add-contact-top-header p{
    font-size: 20px;
    padding-bottom: 24px;
}

.add-contact-blue-line {
    width: 90px;
    background: #29ABE2;
    height: 3px;
}

.add-contact-person-svg {
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
}

.add-contact-center {
    display: flex;
    justify-content: center;
    height: 0;
    
}

.add-contact-person-svg {
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    transform: translateY(-50%);
    z-index: 4;
}

.add-contact-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.add-contact-form {
    width: 364px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
    margin: 96px 0 72px;

}

.add-contact-form input {
    width: 100%;
     padding: 10px;
    /*margin-bottom: 15px; */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 16px;
}
.add-contact-form input::placeholder {
    color: #D1D1D1;
}

.add-contact-form input:focus {
    border-color: #29ABE2;
    outline: none;
}
.add-contact-form button {
    width: 202px;
    height: 51px;
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

.add-contact-form button:hover {
    background: #29ABE2;
}

.add-contact-form button:active {
        background: #091931;
}

.add-new-contact-button {
        width: 352px;
        height: 56px;
        background: #2A3647;
        color: #fff;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 21px;
        font-weight: 700;
        cursor: pointer;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        /* transition: all 100ms ease-in-out; */
    }
    









@media only screen and (min-width: 352px) {
    
}

@media only screen and (min-width: 396px) {
    .add-contact {
    width: 396px;
}
}

@media only screen and (min-width: 440px) {
    
}

@media only screen and (min-width: 576px) {
    
}
    
@media only screen and (min-width: 800px) {
    
}