.login-main {
    height: 100vh;
}

#login-logo {
    position: absolute;
    top: 67px;
    left: 77px;
    width: 100px;
    height: 120px;
}

.login-signup-container {
    position: absolute;
    top: 67px;
    right: 77px;
}

.login-signup-container p {
    margin-right: 35px;
}

.login-signup-button {
    border-radius: 8px;
    color: white;
    background-color: #2A3647;
    border: hidden;
    padding: 15px 24px;
    font-weight: 700;
}

.login-container {
    max-height: 493px;
    max-width: 652px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-input-fields {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    font-size: 20px;
}

.login-checkbox-field {
    width: 422px;
    height: 48px;
    padding-left: 39px
}

.login-buttons-container {
    height: 48px;
}

.login-button {
    width: 110px;
    border-radius: 8px;
    color: white;
    background-color: #2A3647;
    border: hidden;
    padding: 15px 24px;
    font-weight: 700;
}

.login-guest-login-button {
    width: 177px;
    border-radius: 8px;
    color: #2A3647;
    background-color: white;
    border: 1px solid #2A3647;
    padding: 15px 24px;
    font-weight: 700;
}

.login-imprint-container {
    position: absolute;
    top: 949px;
    height: 35px;
    width: 246px;
}

.login-imprint-container a {
    padding: 8px;
    gap: 8px;
    text-decoration: none;
    color: rgba(168, 168, 168, 1);
    font-weight: 400px;
}

.gap-20 {
    gap: 20px;
}

.gap-32 {
    gap: 32px;
}

.gap-35 {
    gap: 35px;
}
