<nav class="text-center">
    <a class="nav-logo" href="./summary.html"><img class="nav-logo " src="../assets/img/logo_white.svg" alt=""></a>
    <div class="nav-link-container">

        <a class="nav-link" href="summary.html">
            <div class="nav-link-item">
                <img class="nav-link-icon" src="../assets/icons/summary-grey.svg" alt="">
                <span>Summary</span>
            </div>
        </a>
        <a class="nav-link" href="addtask.html">
            <div class="nav-link-item">
                <img class="nav-link-icon" src="../assets/icons/add-task-grey.svg" alt="">
                <span>Add task</span>
            </div>
        </a>
        <a class="nav-link" href="board.html">
            <div class="nav-link-item">
                <img class="nav-link-icon" src="../assets/icons/board-grey.svg" alt="">
                <span>Board</span>
            </div>
        </a>
        <a class="nav-link" href="contacts.html">
            <div class="nav-link-item">
                <img class="nav-link-icon" src="../assets/icons/contacts-grey.svg" alt="">
                <span>Contacts</span>
            </div>
        </a>
    </div>
    <div class="terms-container">
        <a href="privacy.html">Privacy Policy</a>
        <a href="legal.html">Legal Notice </a>
    </div>
</nav>
<header>
    <span class="header-headline">Kanban Project Management Tool</span>
    <a href="./summary.html"><img class="header-logo" src="../assets/img/logo.png" alt=""></a>
    <div class="header-right">
        <a href="./help.html"><img class="header-help" src="../assets/icons/help-grey.svg" alt=""></a>
        <div onclick="toggleNav()" class="header-user flex-center" id="userInitials">R</div>
    </div>
</header>
<div class="submenu d-none display-column">
    <div><a href="../../html/legal.html">Legal Notice</a></div>
    <div><a href="../../html/privacy.html">Privacy Policy</a></div>
    <div><a onclick="logout()">Logout</a></div>
</div>