<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/navigation.css">
    <link rel="stylesheet" href="../../style/style.css">
</head>

<body>
    <nav class="text-center">
        <a class="nav-logo" href="#"><img class="nav-logo " src="../img/logo_white.svg" alt=""></a>
        <div class="nav-link-container">
            <a class="nav-link" href="#">
                <div class="nav-link-item">
                    <img class="nav-link-icon" src="../icons/summary-grey.svg" alt="">
                    <span>Summary</span>
                </div>
            </a>
            <a class="nav-link" href="#"> 
            <div class="nav-link-item">
                <img src="../icons/add-task-grey.svg" alt="">
                <span>Add task</span>
            </div>
        </a>
            <a class="nav-link" href="#">
            <div class="nav-link-item">
                <img src="../icons/board-grey.svg" alt="">
                <span>Board</span>
            </div>
        </a>
            <a class="nav-link" href="#">
            <div class="nav-link-item">
                <img src="../icons/contacts-grey.svg" alt="">
                <span>Contacts</span>
            </div>
        </a>
        </div>
        <div class="terms-container">
            <a href="#">Privacy Policy</a>
            <a href="#">Legal Notice </a>
        </div>
    </nav>
</body>

</html>