<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/navigation.css">
    <link rel="stylesheet" href="../../style/style.css">
    <script src="../script/script.js"></script>
</head>

<body>
    <nav class="text-center">
        <a class="nav-logo" href="#"><img class="nav-logo " src="../assets/img/logo_white.svg" alt=""></a>
        <div class="nav-link-container">

            <a class="nav-link" href="#">
                <div class="nav-link-item">
                    <img class="nav-link-icon" src="../assets/icons/summary-grey.svg" alt="">
                    <span>Summary</span>
                </div>
            </a>
            <a class="nav-link" href="#">
                <div class="nav-link-item">
                    <img class="nav-link-icon" src="../assets/icons/add-task-grey.svg" alt="">
                    <span>Add task</span>
                </div>
            </a>
            <a class="nav-link" href="#">
                <div class="nav-link-item">
                    <img class="nav-link-icon" src="../assets/icons/board-grey.svg" alt="">
                    <span>Board</span>
                </div>
            </a>
            <a class="nav-link" href="#">
                <div class="nav-link-item">
                    <img class="nav-link-icon" src="../assets/icons/contacts-grey.svg" alt="">
                    <span>Contacts</span>
                </div>
            </a>
        </div>
        <div class="terms-container">
            <a href="#">Privacy Policy</a>
            <a href="#">Legal Notice </a>
        </div>
    </nav>
    <header>
        <span class="header-headline">Kanban Project Management Tool</span>
        <img class="header-logo" src="/assets/img/logo.png" alt="">
        <div class="header-right">
            <img class="header-help" src="/assets/icons/help-grey.svg" alt="">
            <img class="header-user" src="/assets/icons/User profile initials.svg" alt="">
        </div>
    </header>
</body>

</html>